BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpacesInParentheses: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceAfterCStyleCast: true
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
DerivePointerAlignment: false
Cpp11BracedListStyle: true
NamespaceIndentation: All
SortIncludes: true
IncludeBlocks: Regroup
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
PenalizeSingleStatementLoops: true
