# Ignore the repo build/dist directories
build/
dist/

# Ignore PyInstaller spec files
*.spec

# PyInstaller outputs
/build/
/dist/

# Python junk
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
.env/

# OS
.DS_Store
Thumbs.db

# Release archives
*.zip
*.tar.gz

# Build & IDE junk
.vs/
.vscode/
.idea/
*.user
*.suo
*.opensdf
*.opendb
DerivedDataCache/
Intermediate/
Saved/
Binaries/
Build/Android/**/gradle*
Build/IOS/**/DerivedData/
*.VC.db

# CMake
build*/
out*/
cmake-build-*/